.toy-details-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(115, 38, 115, 0.7);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.1);
}

.toy-name {
  color: #391339;
  font-size: 2rem;
  margin-bottom: 8px;
}

.toy-price {
  font-size: 1.2rem;
  color: #f9ecf9;
}

.toy-description {
  margin-bottom: 16px;
  color: #f9ecf9;
}

.toy-long-description {
  font-size: 0.9rem;
  color: #f9ecf9;
}
