.dashboard-layout {
  display: grid;
  justify-content: center;
  align-items: center;
}

.header {
  box-shadow: 10px 2px 4px rgb(115, 38, 115, 0.4);
  padding: 10px;
  display: flex;
  justify-content: center;
}

.chart-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
}

button {
  background-color: var(--clr1btn);
  color: var(--clr1font);
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d4a300;
}

canvas {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border: 1px solid #602060;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .dashboard-layout {
    display: grid;
    justify-content: center;
  }
  .chart-container {
    flex-direction: column;
  }
}
