.toy-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  gap: 20px;
  width: 90vw;
}

label {
  font-weight: bold;
  color: var(--clr1font);
}

input,
select {
  background-color: var(--clr2bgc);
  padding: 10px;
  border: 1px solid #602060;
  border-radius: 4px;
  width: 200px;
}

select {
  appearance: none;
  background-color: var(--clr2bgc);
  color: var(--gray2);
  cursor: pointer;
}

form label {
  font-size: 14px;
  margin-bottom: 5px;
}

.filter-select {
  width: 200px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .toy-filter {
    /* flex-direction: column;
    align-items: flex-start; */
    /* display: grid; */
    /* grid-template-rows: repeat(2, 1fr); */
    /* gap: 20px; */
    /* padding: 20px; */
    /* border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  }

  form {
    display: grid;
    gap: 20px;
    justify-content: center;
  }

  input,
  select,
  button {
    width: 300px;
  }

  .filter-select {
    width: 300px;
  }

  /* form {
    width: 100%;
  } */
}
