:root {
  --clr1bgc: #993399;
  --clr2bgc: #f2d9f2;

  --clr1font: #602060;

  --clr1btn: #e6b800;
  --clr2btn: #ffcc00;

  /* --clr1bg-light: #c1f1e1;
  --clr2bg: #ee9b00;
  --clr2bg-light: #e9d8a6; */

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);
}
